name: "Push Images"
on:
  workflow_dispatch:
  push:
    branches:
      - sb-2.5.x
jobs:
  push:
    name: Push Images to Quay.io
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Setup Java
        uses: actions/setup-java@v2.3.1
        with:
          java-version: ${{ matrix.java }}
          distribution: 'adopt'
          cache: 'maven'
      - name: Quay.io Login
        run: docker login quay.io -u="${{secrets.QUAY_USER}}" -p="${{secrets.QUAY_TOKEN}}"
      - name: Build
        run: ./mvnw -s .github/mvn-settings.xml clean package
      - name: Push Image to Quay.io
        run: |
          CONTAINER_REGISTRY=quay.io/snowdrop
          ## Frontend service:
          FRONTEND_IMAGE=spring-boot-messaging-frontend-example:2.5.8
          docker build ./frontend -t $FRONTEND_IMAGE
          docker tag $FRONTEND_IMAGE $CONTAINER_REGISTRY/$FRONTEND_IMAGE
          docker push $CONTAINER_REGISTRY/$FRONTEND_IMAGE

          ## Worker service:
          WORKER_IMAGE=spring-boot-messaging-worker-example:2.5.8
          docker build ./worker -t $WORKER_IMAGE
          docker tag $WORKER_IMAGE $CONTAINER_REGISTRY/$WORKER_IMAGE
          docker push $CONTAINER_REGISTRY/$WORKER_IMAGE
